<a href="/" class="logo"><i class="fab fa-node-js"></i>UTSC CSA</a>

    <div id="menu" class="fas fa-bars"></div>
    <nav class="navbar">
        <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Events</a></li>
        <li><a href="#education">Resources</a></li>
        <li><a href="#work">Team</a></li>
        <li><a href="#experience">Contact</a></li>
        <li><a href="#contact">FAQs</a></li>
        <li><a href="#contact">Constitution</a></li>
        <li><a href="#contact">Gallery</a></li>
        <li><a href="#contact">Testimonials</a></li>
        </ul>
    </nav>